@{
    ViewData["Title"] = "Чат";
}

@*<div class="container">
    <div class="row p-1">
        <div class="col-12 col-md-3"><strong>Чат</strong></div>
        <div class="col-12 col-md-9 text-end"><a href="#">Назад</a></div>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12 col-md-3"><strong>Сообщение:</strong></div>
        <div class="col-12 col-md-9"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-12 text-center">
            <input type="button" id="sendButton" value="Отправить" class="btn btn-primary" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/signalr/signalr.min.js"></script>

    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chathub")
            .build();

        connection.on("ReceiveMessage", function (user, message) {
            var encodedUser = user;
            var encodedMessage = message;
            var li = document.createElement("li");
            li.textContent = encodedUser + ": " + encodedMessage;
            document.getElementById("messagesList").appendChild(li);
        });

        connection.start().then(function () {
            document.getElementById("sendButton").addEventListener("click", function (event) {
                var user = "@User.Identity.Name";
                var message = document.getElementById("messageInput").value;
                connection.invoke("SendMessage", user, message).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            });
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}